<!DOCTYPE html>
<meta charset="utf-8">
<title>Special session: Pervasive Computing and Spoken Dialogue Systems Technology (PerDial 2020)</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">

<header class="fixed-header" id="fixed-header">
  <div class="wrapper">
    <h1><a href="./"><span>PerDial 2020</span></a></h1>
    <nav>
      <ul id="primary-nav">
        <li data-target="top">Top</li>
        <li data-target="overview">Overview</li>
        <li data-target="call-for-paper">Call for Paper</li>
        <li data-target="organizers">Organizers</li>
      </ul>
    </nav>
  </div>
</header>

<section class="main">
  <header id="top">
    <img src="img/top-visual.jpg">
    <h1><span>Pervasive Computing and Spoken Dialogue Systems Technology</span>
      <span>(PerDial 2020)</span>
      <small>The Special Session in SPECOM 2020</small></h1>
  </header>

  <div id="overview" class="clearfix">
    <h2>Overview</h2>
    <p>Pervasive Computing and Spoken Dialogue Systems Technology (PerDial 2020) aims to serve as a platform for cross-disciplinary discussions on ways, problems, challenges and perspectives of mutual integration of Spoken Dialogue Systems and Pervasive Computing technologies.</p>
    <img src="img/logo-orig.png" class="overview-logo">
    <dl class="overview">
      <dt><i class="fa fa-check"></i></dt>
      <dd>Pervasive Computing and Spoken Dialogue Systems Technology (PerDial 2020)</dd>
      <dd class="percom"><a href="http://www.percom.org/">the Special Session in the 22nd International Conference on Speech and Computer (SPECOM 2020)</a></dd>
      <dt><i class="fa fa-calendar-check-o"></i></dt>
      <dd>06-10, October 2020</dd>
      <dt><i class="fa fa-map-marker"></i></dt>
      <dd>St. Petersburg, Russia</dd>
    </dl>
  </div>

  <div id="call-for-paper">
    <h2><i class="fa fa-bullhorn"></i>Call for Papers</h2>
    <p>This special session aims to serve as a platform for cross-disciplinary discussions on ways, problems, challenges and perspectives of mutual integration of Spoken Dialogue Systems and Pervasive Computing technologies.</p>
    <p>Spoken Dialogue Systems have been a hot topic of discussion in a research community for the last two decades. They are an inalienable part of Human-Computer Interaction, and allow the integration of Artificial Intelligence systems in our everyday lives smoothly and naturally, through an easy, human-like communication. Pervasive Computing technologies can contact the user at a close level as well as be insensibly integrated into the environment, providing spatially distributed information. Being a part of the smart environment, each smart device serves as a mini personal assistant and requires an ability to interact with the user to be able to be more adaptive, user-friendly and effective.</p>
    <p>While both topics have recently been an interest of researchers, questions of integration between pervasive computing and spoken dialogue systems have been discussed within each community. The Interdisciplinary potential of both fields has not yet been investigated in detail. A more active cooperation between both communities may open the way for more powerful and user-friendly Pervasive Computing Systems. The proposed special session will help to explore possible challenges and suggestions to progress them. We aim to create the unique venue for discussion and collaboration between experts from these disciplines.</p>
    <p>Topics of this special session include, but are not limited to:</p>
    <ul>
      <li>Use of spoken dialogue systems in pervasive computing environment</li>
      <li>Experimental design of spoken dialogue systems for pervasive computing</li>
      <li>Integration of spoken dialogue system into smart environments</li>
      <li>Dialogue management between smart environment and user</li>
      <li>User-centered smart environment adaptation</li>
      <li>Perspective future applications of spoken dialogue systems in pervasive computing</li>
      <li>Analysis of sensing data collected with IoT and/or smart devices for dialogue systems</li>
      <li>Pervasive sensing platform/framework for spoken dialogue systems</li>
      <li>Context recognition and application methodology for spoken dialogue systems</li>
      <li>User studies and evaluation in the wild of pervasive spoken dialogue systems</li>
      <li>Investigation of Human-Agent Interaction (HAI) in smart environments</li>
      <li>Dialogue systems in the public space (e.g. interactive digital signage)</li>
      <li>Dialogue and recommendation for guidance systems</li>
    </ul>
  </div>

  <div>
    <h2><i class="fa fa-pencil"></i>Submission Guidelines</h2>
    <dl class="guideline">
      <dt>Paper Template</dt><dd><a href="https://www.ieee.org/conferences/publishing/templates.html">IEEE Manuscript Templates for Conference Proceedings</a></dd>
      <dt>Paper format</dt><dd>double-column, 10-pt font, A4-size paper</dd>
      <dt>Page limitation</dt><dd>6 pages</dd>
                              <dd>(The authors will be able to buy an additional page for the camera-ready version)</dd>
      <dt>Submission page</dt><dd><a href="https://edas.info/newPaper.php?c=25233">EDAS</a></dd>
    </dl>
  </div>

  <div>
    <h2><i class="fa fa-clock-o"></i>Important Dates</h2>
    <dl class="important-dates">
      <dt>Paper Submission Due</dt>
      <dd>TBD, 2020 (23:59 AoE)</dd>
      <dt>Acceptance Notification</dt>
      <dd>TBD, 2020</dd>
      <dt>Camera-Ready Due</dt><dd>TBD, 2020</dd>
    </dl>
  </div>

  <div>
    <h2><i class="fa fa-calendar"></i>Accepted Papers & Program</h2>
    <p>TBA</p>
    <!-- <h3>session</h3>
    <p class="chair">Chair: chair name</p>
    <ul class="program">
      <li><span>title</span>author</li>
      <li><span>title</span>author</li>
      <li><span>title</span>author</li>
    </ul>
    <h3>keynote</h3>
    <p class="chair">Chair: chair name</p>
    <div class="keynote clearfix">
      <img src="img/keynote-speaker.jpg">
      <h4>title</h4>
      <span>presenter</span>
      <p>bio</p>
    </div> -->
  </div>

  <div>
    <h2><i class="fa fa-microphone"></i>Presentation Guideline</h2>
    <ul>
      <li>TBA</li>
    </ul>
  </div>

  <div id="organizers">
    <h2><i class="fa fa-user-circle-o"></i>Organizers</h2>
    <h3>Program Committee <span>(*sorted by family name)</span></h3>
    <ul class="person-list">
      <li>TBA</li>
    </ul>
    <h3>Organizing Committee</h3>
    <ul class="person-list">
      <li>Dmitrii Fedotov<span>Ulm University, Germany</span></li>
      <li>Yuki Matsuda<span>Nara Institute of Science and Technology, Japan</span></li>
    </ul>
  </div>

  <div>
    <h2>Contact</h2>
    <ul>
      <li>Dmitrii Fedotov: dmitrii.fedotov<span>@</span>uni-ulm.de</li>
      <li>Yuki Matsuda: yukimat<span>@</span>is.naist.jp</li>
    </ul>
  </div>

</section>

<footer>
  &copy; International Workshop on Pervasive Computing and Spoken Dialogue Systems Technology
</footer>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
var isTopArea = true;
$(window).scroll(function() {
  if(isTopArea && $(this).scrollTop() > 50) {
    isTopArea = false;
    $("#fixed-header").addClass("scrolled");
  }
  if(!isTopArea && $(this).scrollTop() < 50) {
    isTopArea = true;
    $("#fixed-header").removeClass("scrolled");
  }
});
$("#primary-nav li").click(function() {
  var target = $(this).data("target");
  $("html, body").animate({scrollTop:$("#" + target).offset().top - 50});
});
</script>