<!DOCTYPE html>
<meta charset="utf-8">
<title>The 1st International Workshop on Pervasive Computing and Dialogue Systems (PerDial 2019)</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">

<header class="fixed-header" id="fixed-header">
  <h1>PerDial 2019</h1>
  <nav>
    <ul>
      <li>Overview</li>
      <li>Call for Paper</li>
      <li>Organizers</li>
      <li>Submission</li>
    </ul>
  </nav>
</header>

<section class="main">
  <header>
    <img src="img/top-visual.jpg">
    <h1><span>The 1st International Workshop on</span>
      <span>Pervasive Computing and Dialogue Systems</span>
      <span>(PerDial 2019)</span></h1>
  </header>

  <div>
    <h2>Overview</h2>
    <p>in conjunction with the IEEE PerCom '19, 11-15, March 2019</p>
    <p>The 1st International Workshop on Pervasive Computing and Dialogue Systems (PerDial 2019)</p>
  </div>

  <div>
    <h2><i class="fa fa-bullhorn"></i>Call for Paper</h2>
    <p>The 1st International Workshop on Pervasive Computing and Dialogue Systems (PerDial 2019) aims to serve as a platform for cross-disciplinary discussions on ways, problems, challenges and perspectives of mutual integration of Dialogue Systems and Pervasive Computing technologies.</p>
    <p>Dialogue Systems have been a hot topic of discussion in a research community for the last two decades. They are inalienable part of Human-Computer Interaction, and allow the integration of Artificial Intelligence systems in our everyday lives smoothly and naturally, through an easy, human-like communication. Pervasive Computing technologies can contact user at a close level as well as be insensibly integrated in environment, providing spatially distributed information. Being a part of the smart environment each smart device serves as a mini personal assistant and requires an ability to interact with user to be able to be more adaptive, user-friendly and effective. </p>
    <p>While both topics have recently been an interest of researchers and questions of integration between pervasive computing and dialogue systems are not studied deeply, the proposed workshop will help to explore possible challenges and suggestions to overcome them. We aim to create the first and unique opportunity for discussion and collaboration between experts from these disciplines. </p>
  </div>

  <div>
    <h2><i class="fa fa-pencil"></i>Submission Guidelines</h2>
    <dl class="guideline">
      <dt>Paper Template</dt><dd><a href="https://www.ieee.org/conferences/publishing/templates.html">IEEE Manuscript Templates for Conference Proceedings</a></dd>
      <dt>Paper format</dt><dd>double-column, 10-pt font, A4-size paper</dd>
      <dt>Page limitation</dt><dd>6 pages </dd>
      <dt>Submission page</dt><dd>EDAS (TBA)</dd>
    </dl>
    <p>NOTE: All accepted submissions must be presented at the PerDial 2019 workshop</p>
  </div>

  <div>
    <h2><i class="fa fa-clock-o"></i>Important Dates</h2>
    <dl class="important-dates">
      <dt>Paper Submission Due</dt><dd>November 10, 2018</dd>
      <dt>Acceptance Notification</dt><dd>December 22, 2018</dd>
      <dt>Camera-Ready Due</dt><dd>TBD</dd>
    </dl>
  </div>

  <div>
    <h2><i class="fa fa-user-circle-o"></i>Organizers</h2>
    <h3>Program Committee (*potential)</h3>
    <ul>
      <li>Prof. Keiichi Yasumoto (Nara Institute of Science and Technology, Japan)</li>
      <li>Prof. Dr. Dr.-Ing. Wolfgang Minker (Ulm University, Germany)</li>
      <li>Prof. Yutaka Arakawa (Nara Institute of Science and Technology, Japan)</li>
      <li>Prof. Satoshi Nakamura (Nara Institute of Science and Technology, Japan)</li>
      <li>Prof. Alexey Karpov (SPIIRAS Institute, Russia)</li>
      <li>Prof. Yuri Matveev (ITMO University, Russia)</li>
      <li>Dr. Heysem Kaya (Namık Kemal University, Turkey)</li>
      <li>Dr.-Ing. Stefan Ultes (University of Cambridge, United Kingdom)</li>
      <li>Prof. Masahiro Araki (Kyoto Institute of Technology, Japan)</li>
      <li>Prof. Koichiro Yoshino (Nara Institute of Science and Technology, Japan)</li>
      <li>Prof. Takashi Yoshino (Wakayama University, Japan)</li>
      <li>Prof. Yasuyuki Sumi (Future University Hakodate, Japan)</li>
      <li>Prof. Masayuki Iwai (Tokyo Denki University, Japan)</li>
      <li>Prof. Tsutomu Terada (Kobe University, Japan)</li>
    </ul>
    <h3>Organizing Committee</h3>
    <ul>
      <li>M.Sc. Dmitrii Fedotov (Ulm University, Germany)</li>
      <li>M.Eng. Yuki Matsuda (Nara Institute of Science and Technology, Japan)</li>
    </ul>
  </div>

</section>

<footer>
  &copy; International Workshop on Pervasive Computing and Dialogue Systems
</footer>

<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
var isTopArea = true;
$(window).scroll(function() {
  if(isTopArea && $(this).scrollTop() > 50) {
    isTopArea = false;
    $("#fixed-header").addClass("scrolled");
  }
  if(!isTopArea && $(this).scrollTop() < 50) {
    isTopArea = true;
    $("#fixed-header").removeClass("scrolled");
  }
});
</script>