<!DOCTYPE html>
<meta charset="utf-8">
<title>The 1st International Workshop on Pervasive Computing and Spoken Dialogue Systems Technology (PerDial 2019)</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">

<header class="fixed-header" id="fixed-header">
  <div class="wrapper">
    <h1><a href="./"><span>PerDial 2019</span></a></h1>
    <nav>
      <ul id="primary-nav">
        <li data-target="top">Top</li>
        <li data-target="overview">Overview</li>
        <li data-target="call-for-paper">Call for Paper</li>
        <li data-target="organizers">Organizers</li>
      </ul>
    </nav>
  </div>
</header>

<section class="main">
  <header id="top">
    <img src="img/top-visual.jpg">
    <h1><span>The 1st International Workshop on</span>
      <span>Pervasive Computing and Spoken Dialogue Systems Technology</span>
      <span>(PerDial 2019)</span>
      <small>in conjunction with the IEEE PerCom 2019</small></h1>
  </header>

  <div id="overview" class="clearfix">
    <h2>Overview</h2>
    <p>The 1st International Workshop on Pervasive Computing and Spoken Dialogue Systems Technology (PerDial 2019) aims to serve as a platform for cross-disciplinary discussions on ways, problems, challenges and perspectives of mutual integration of Spoken Dialogue Systems and Pervasive Computing technologies.</p>
    <img src="img/logo-orig.png" class="overview-logo">
    <dl class="overview">
      <dt><i class="fa fa-check"></i></dt>
      <dd>The 1st International Workshop on Pervasive Computing and Spoken Dialogue Systems Technology (PerDial 2019)</dd>
      <dd class="percom"><a href="http://www.percom.org/">in conjunction with the IEEE International Conference on Pervasive Computing and Communications (PerCom 2019)</a></dd>
      <dt><i class="fa fa-calendar-check-o"></i></dt>
      <dd>11-15, March 2019</dd>
      <dt><i class="fa fa-map-marker"></i></dt>
      <dd>Kyoto, Japan</dd>
    </dl>
  </div>

  <div id="call-for-paper">
    <h2><i class="fa fa-bullhorn"></i>Call for Paper</h2>
    <p>Spoken Dialogue Systems have been a hot topic of discussion in a research community for the last two decades. They are an inalienable part of Human-Computer Interaction, and allow the integration of Artificial Intelligence systems in our everyday lives smoothly and naturally, through an easy, human-like communication. Pervasive Computing technologies can contact the user at a close level as well as be insensibly integrated into the environment, providing spatially distributed information. Being a part of the smart environment, each smart device serves as a mini personal assistant and requires an ability to interact with the user to be able to be more adaptive, user-friendly and effective.</p>
    <p>While both topics have recently been an interest of researchers, questions of integration between pervasive computing and spoken dialogue systems have been discussed within each community. The Interdisciplinary potential of both fields has not yet been investigated in detail. A more active cooperation between both communities may open the way for more powerful and user friendly Pervasive Computing Systems. The proposed workshop will help to explore possible challenges and suggestions to progress them. We aim to create the first and unique venue for discussion and collaboration between experts from these disciplines.</p>
    <p>Topics of this workshop include, but are not limited to:</p>
    <ul>
      <li>Use of spoken dialogue systems in pervasive computing environment</li>
      <li>Experimental design of spoken dialogue systems for pervasive computing</li>
      <li>Integration of spoken dialogue system into smart environments</li>
      <li>Dialogue management between smart environment and user</li>
      <li>User-centered smart environment adaptation</li>
      <li>Perspective future applications of spoken dialogue systems in pervasive computing</li>
      <li>Analysis of sensing data collected with IoT and/or smart devices for dialogue systems</li>
      <li>Pervasive sensing platform/framework for spoken dialogue systems</li>
      <li>Context recognition and application methodology for spoken dialogue systems</li>
      <li>User studies and evaluation in the wild of pervasive spojen dialogue systems</li>
      <li>Investigation of Human-Agent Interaction (HAI) in smart environments</li>
      <li>Dialogue systems in the public space (e.g. interactive digital signage)</li>
      <li>Dialogue and recommendation for guidance systems</li>
    </ul>
  </div>

  <div>
    <h2><i class="fa fa-pencil"></i>Submission Guidelines</h2>
    <dl class="guideline">
      <dt>Paper Template</dt><dd><a href="https://www.ieee.org/conferences/publishing/templates.html">IEEE Manuscript Templates for Conference Proceedings</a></dd>
      <dt>Paper format</dt><dd>double-column, 10-pt font, A4-size paper</dd>
      <dt>Page limitation</dt><dd>6 pages</dd>
                              <dd>(The authors will be able to buy an additional page for the camera-ready version)</dd>
      <dt>Submission page</dt><dd><a href="https://edas.info/25233">EDAS</a></dd>
    </dl>
    <h3>NOTE</h3>
    <ul>
      <li>Each accepted workshop paper requires a full PerCom registration (no registration is available for workshops only).</li>
      <li>Each accepted workshop paper must be presented at the PerDial 2019 workshop.</li>
      <li>Workshop papers will be included and indexed in the <a href="https://ieeexplore.ieee.org/Xplore/home.jsp">IEEE Xplore Digital Library</a></li>
    </ul>
  </div>

  <div>
    <h2><i class="fa fa-clock-o"></i>Important Dates</h2>
    <dl class="important-dates">
      <dt>Paper Submission Due</dt><dd>November 10, 2018 (23:59 AoE)</dd>
      <dt>Acceptance Notification</dt><dd>December 22, 2018</dd>
      <dt>Camera-Ready Due</dt><dd>January 11, 2019</dd>
    </dl>
  </div>

  <div id="organizers">
    <h2><i class="fa fa-user-circle-o"></i>Organizers</h2>
    <h3>Program Committee <span>(*sorted by family name)</span></h3>
    <ul class="person-list">
      <li>Prof. Yutaka Arakawa<span>Nara Institute of Science and Technology, Japan</span></li>
      <li>Prof. Nick Campbell<span>Trinity College Dublin, Ireland</span></li>
      <li>Dr. Ryuichiro Higashinaka<span>NTT Media Intelligence Laboratories, Japan</span></li>
      <li>Prof. Naoya Isoyama<span>Kobe University, Japan</span></li>
      <li>Prof. Kristiina Jokinen<span>University of Helsinki, Japan</span></li>
      <li>Prof. Oliver Jokisch<span>Hochschule für Telekommunikation Leipzig (HfTL), Germany</span></li>
      <li>Prof. Alexey Karpov<span>St. Petersburg Institute for Informatics and Automation of the Russian Academy of Sciences (SPIIRAS), Russia</span></li>
      <li>Prof. Heysem Kaya<span>Boğaziçi University, Turkey</span></li>
      <li>Prof. Kazunori Komatani<span>Osaka University, Japan</span></li>
      <li>Prof. Yuri Matveev<span>ITMO University, Russia</span></li>
      <li>Prof. Wolfgang Minker<span>Ulm University, Germany</span></li>
      <li>Dr. Mikio Nakano<span>Honda Research Institute Japan, Japan</span></li>
      <li>Dr. Olga Perepelkina<span>Neurodatalab LLC, Russia</span></li>
      <li>Prof. Keiichi Yasumoto<span>Nara Institute of Science and Technology, Japan</span></li>
      <li>Prof. Koichiro Yoshino<span>Nara Institute of Science and Technology, Japan</span></li>
      <li>Prof. Takashi Yoshino<span>Wakayama University, Japan</span> </li>
    </ul>
    <h3>Organizing Committee</h3>
    <ul class="person-list">
      <li>M.Sc. Dmitrii Fedotov<span>Ulm University, Germany</span></li>
      <li>M.Eng. Yuki Matsuda<span>Nara Institute of Science and Technology, Japan</span></li>
    </ul>
  </div>

</section>

<footer>
  &copy; International Workshop on Pervasive Computing and Spoken Dialogue Systems Technology
</footer>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
var isTopArea = true;
$(window).scroll(function() {
  if(isTopArea && $(this).scrollTop() > 50) {
    isTopArea = false;
    $("#fixed-header").addClass("scrolled");
  }
  if(!isTopArea && $(this).scrollTop() < 50) {
    isTopArea = true;
    $("#fixed-header").removeClass("scrolled");
  }
});
$("#primary-nav li").click(function() {
  var target = $(this).data("target");
  $("html, body").animate({scrollTop:$("#" + target).offset().top - 50});
});
</script>