@import url('https://fonts.googleapis.com/css?family=Barlow');

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  background: #f9f9f9;
  @media (max-width: 760px) {
    font-size: 13px;
  }
}

header.fixed-header {
  position: fixed;
  z-index: 1000;
  height: 50px;
  width: 100vw;
  border: 1px solid rgba(0,0,0,0);
  border-width: 0 0 1px;
  text-shadow: 0 0 2px white;
  background: rgba(255,255,255,0);
  opacity: 0.8;
  transition: all 0.2s ease 0s;
  &.scrolled {
    border: 1px solid rgba(0,0,0,0.1);
    background: rgba(255,255,255,0.9);
    opacity: 1;
  }
  h1 {
    float: left;
    height: 50px;
    padding: 0 10px;
    a {
      display: block;
      background: url("../img/logo-header.png") center center no-repeat;
      background-size: 100%;
      width: 180px;
      height: 30px;
      padding: 10px 10px;
      float: left;
      span {
        display: none;
      }
    }
  }
  nav ul {
    float: right;
    padding: 0 15px 0 0;
    font-size: 1.2rem;
    li {
      float: left;
      list-style: none;
      padding: 0 10px;
      height: 50px;
      line-height: 50px;
    }
    @media (max-width: 760px) {
      display: none;
    }
  }
}

section.main {
  width: 100vw;
  header {
    position: relative;
    padding: 130px 0 100px;
    h1 {
      width: 90vw;
      margin: 0 auto;
      border-radius: 100px;
      position: relative;
      z-index: 100;
      color: white;
      text-align: center;
      font-size: 2.3rem;
      span {
        display: block;
        text-shadow: 2px 2px 4px black;
      }
      small {
        display: inline-block;
        font-size: 0.6em;
        color: black;
        background: rgba(255,255,255,0.9);
        border-radius: 30px;
        margin: 10px 0 0;
        padding: 5px 20px;
      }
      @media (max-width: 760px) {
        font-size: 1.7em;
      }
      @media (max-width: 580px) {
        span {
          display: inline;
        }
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & > div {
    max-width: 1000px;
    width: 94vw;
    margin: 30px auto;
    padding: 30px 40px 35px;
    @media (max-width: 760px) {
      margin: 20px auto;
      padding: 15px;
    }
    background: white;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 #ccc;
    box-sizing: border-box;
  }
  h2 {
    padding: 0 0 15px;
    font-size: 1.8rem;
    i {
      padding: 0 7px 0 0;
      font-size: 1.6rem;
    }
  }
  h3 {
    padding: 15px 0 5px;
    font-size: 1.4rem;
  }
  h2 + h3 {
    padding: 10px 0 5px;
  }
  p {
    padding: 10px 0 0;    
    font-size: 1.1rem;
    hyphens: auto;
    text-align: justify;
    text-justify: inter-ideograph;
  }
  a {
    text-decoration: none;
    color: seagreen;
    &:after {
      font-family: FontAwesome;
      content: "\f08e";
      font-size: 0.8em;
      padding: 0 0 0 5px;
    }
    &:hover {
      color: mediumseagreen;
    }
  }
  h2 + p, h3 + p {
    padding: 0;
  }
  ul li {
    margin: 5px 0 0 30px;
  }
  dl.overview {
    font-size: 1.5rem;
    dt {
      float: left;
      width: 90px;
      padding: 2px;
      font-weight: bold;
    }
    dd {
      margin: 0 0 0 95px;
      padding: 2px;
      &.percom {
        font-size: 1.3rem;
      }
    }
  }
  dl.important-dates {
    dt {
      float: left;
      width: 190px;
      padding: 2px;
      font-weight: bold;
    }
    dd {
      margin: 0 0 0 195px;
      padding: 2px;
    }
  }
  dl.guideline {
    dt {
      float: left;
      width: 130px;
      padding: 2px;
      font-weight: bold;
    }
    dd {
      margin: 0 0 0 135px;
      padding: 2px;
    }
  }

}

footer {
  border: 1px solid rgba(0,0,0,0.1);
  border-width: 1px 0 0;
  text-align: center;
  padding: 20px 0;
}