@import url("https://fonts.googleapis.com/css?family=Barlow");
* {
  padding: 0;
  margin: 0; }

html {
  font-family: 'Barlow', sans-serif;
  font-size: 15px; }

header.fixed-header {
  position: fixed;
  z-index: 1000;
  height: 50px;
  width: 100vw;
  background: rgba(255, 255, 255, 0.8); }
  header.fixed-header h1 {
    float: left;
    padding: 5px 10px;
    font-size: 2rem; }
  header.fixed-header nav ul {
    float: right;
    padding: 0 15px 0 0;
    font-size: 1.2rem; }
    header.fixed-header nav ul li {
      float: left;
      list-style: none;
      padding: 0 10px;
      height: 50px;
      line-height: 50px; }

section.main {
  width: 100vw; }
  section.main header {
    position: relative;
    padding: 150px 0 100px; }
    section.main header h1 {
      width: 90vw;
      max-width: 800px;
      margin: 0 auto;
      border-radius: 100px;
      position: relative;
      z-index: 100;
      font-size: 2.3rem;
      color: white;
      text-align: center;
      padding: 15px 30px 20px;
      background: rgba(0, 0, 0, 0.5);
      box-sizing: border-box; }
      section.main header h1 span {
        display: block; }
    section.main header img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  section.main > div {
    max-width: 1000px;
    width: 100vw;
    margin: 50px auto;
    padding: 0 20px;
    box-sizing: border-box; }
  section.main h2 {
    padding: 0 0 15px;
    font-size: 1.8rem; }
    section.main h2 i {
      padding: 0 7px 0 0;
      font-size: 1.6rem; }
  section.main h3 {
    padding: 15px 0 5px;
    font-size: 1.4rem; }
  section.main h2 + h3 {
    padding: 10px 0 5px; }
  section.main p {
    padding: 10px 0 0;
    font-size: 1.1rem;
    hyphens: auto;
    text-align: justify;
    text-justify: inter-ideograph; }
  section.main a {
    text-decoration: none;
    color: seagreen; }
    section.main a:after {
      font-family: FontAwesome;
      content: "\f08e";
      font-size: 0.8em;
      padding: 0 0 0 5px; }
    section.main a:hover {
      color: mediumseagreen; }
  section.main h2 + p, section.main h3 + p {
    padding: 0; }
  section.main ul li {
    margin: 5px 0 0 30px; }
  section.main dl.important-dates dt {
    float: left;
    width: 190px;
    padding: 2px;
    font-weight: bold; }
  section.main dl.important-dates dd {
    margin: 0 0 0 195px;
    padding: 2px; }
  section.main dl.guideline dt {
    float: left;
    width: 130px;
    padding: 2px;
    font-weight: bold; }
  section.main dl.guideline dd {
    margin: 0 0 0 135px;
    padding: 2px; }

footer {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 1px 0 0;
  text-align: center;
  padding: 20px 0; }
