@import url("https://fonts.googleapis.com/css?family=Barlow");
* {
  padding: 0;
  margin: 0; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

html {
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  background: #f9f9f9; }
  @media (max-width: 760px) {
    html {
      font-size: 13px; } }

header.fixed-header {
  position: fixed;
  z-index: 1000;
  height: 50px;
  width: 100vw;
  border: 1px solid rgba(0, 0, 0, 0);
  border-width: 0 0 1px;
  text-shadow: 0 0 2px white;
  background: rgba(255, 255, 255, 0);
  opacity: 0.8;
  transition: all 0.2s ease 0s; }
  header.fixed-header.scrolled {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0 0 1px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 1; }
  header.fixed-header div.wrapper {
    width: 100vw;
    max-width: 1000px;
    margin: 0 auto; }
  header.fixed-header h1 {
    float: left;
    height: 50px;
    padding: 0 10px; }
    header.fixed-header h1 a {
      display: block;
      background: url("../img/logo-header.png") center center no-repeat;
      background-size: 100%;
      width: 180px;
      height: 30px;
      padding: 10px 10px;
      float: left; }
      header.fixed-header h1 a span {
        display: none; }
  header.fixed-header nav ul {
    float: right;
    padding: 0 15px 0 0;
    font-size: 1.2rem; }
    header.fixed-header nav ul li {
      float: left;
      list-style: none;
      padding: 0 15px;
      height: 50px;
      line-height: 50px;
      cursor: pointer; }
      header.fixed-header nav ul li:hover {
        background: rgba(200, 200, 200, 0.3); }
    @media (max-width: 760px) {
      header.fixed-header nav ul {
        display: none; } }

section.main {
  width: 100vw; }
  section.main header {
    position: relative;
    padding: 130px 0 100px; }
    section.main header h1 {
      width: 90vw;
      margin: 0 auto;
      border-radius: 100px;
      position: relative;
      z-index: 100;
      color: white;
      text-align: center;
      font-size: 2.3rem; }
      section.main header h1 span {
        display: block;
        text-shadow: 2px 2px 4px black; }
      section.main header h1 small {
        display: inline-block;
        font-size: 0.6em;
        color: black;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 30px;
        margin: 10px 0 0;
        padding: 5px 20px; }
      @media (max-width: 760px) {
        section.main header h1 {
          font-size: 1.7em; } }
      @media (max-width: 580px) {
        section.main header h1 span {
          display: inline; } }
    section.main header img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  section.main > div {
    max-width: 1000px;
    width: 94vw;
    margin: 30px auto;
    padding: 30px 40px 35px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 #ccc;
    box-sizing: border-box; }
    @media (max-width: 760px) {
      section.main > div {
        margin: 20px auto;
        padding: 15px; } }
  section.main h2 {
    padding: 0 0 15px;
    font-size: 1.8rem; }
    section.main h2 i {
      padding: 0 7px 0 0;
      font-size: 1.6rem; }
  section.main h3 {
    padding: 15px 0 5px;
    font-size: 1.4rem; }
  section.main h2 + h3 {
    padding: 10px 0 5px; }
  section.main p {
    padding: 10px 0 0;
    font-size: 1.1rem;
    hyphens: auto;
    text-align: justify;
    text-justify: inter-ideograph; }
  section.main a {
    text-decoration: none;
    color: seagreen; }
    section.main a:after {
      font-family: FontAwesome;
      content: "\f08e";
      font-size: 0.8em;
      padding: 0 0 0 5px; }
    section.main a:hover {
      color: mediumseagreen; }
  section.main h2 + p, section.main h3 + p {
    padding: 0; }
  section.main p + ul {
    margin: 10px 0; }
  section.main ul li {
    margin: 4px 0 0 30px; }
  section.main img.overview-logo {
    float: right;
    width: 200px;
    height: 200px;
    padding: 30px 20px 10px 30px; }
    @media (max-width: 760px) {
      section.main img.overview-logo {
        width: 100px;
        height: 100px;
        padding: 35px 10px 10px 20px; } }
    @media (max-width: 550px) {
      section.main img.overview-logo {
        display: none; } }
  section.main dl.overview {
    font-size: 1.5rem;
    margin: 20px 0 0; }
    section.main dl.overview dt {
      float: left;
      width: 40px;
      padding: 7px 2px;
      font-weight: bold;
      text-align: center; }
    section.main dl.overview dd {
      margin: 0 0 0 45px;
      padding: 7px 2px; }
      section.main dl.overview dd.percom {
        font-size: 1.3rem; }
    section.main dl.overview dd + dd {
      padding: 3px 2px 13px; }
  section.main dl.important-dates {
    font-size: 1.1rem; }
    section.main dl.important-dates dt {
      float: left;
      width: auto;
      padding: 2px;
      font-weight: bold; }
    section.main dl.important-dates dd {
      margin: 0 0 0 195px;
      padding: 2px; }
      @media (max-width: 760px) {
        section.main dl.important-dates dd {
          margin: 0 0 0 175px; } }
  section.main dl.guideline {
    font-size: 1.1rem; }
    section.main dl.guideline dt {
      float: left;
      width: auto;
      padding: 2px;
      font-weight: bold; }
    section.main dl.guideline dd {
      margin: 0 0 0 145px;
      padding: 2px; }
      @media (max-width: 760px) {
        section.main dl.guideline dd {
          margin: 0 0 0 130px; } }

footer {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 1px 0 0;
  text-align: center;
  padding: 20px; }
