<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="refresh" content="0; URL='./<%= latestYear %>/'" />
<title>International Workshop on Pervasive Computing and Dialogue Systems (PerDial)</title>
<script>
  location.href="./<%= latestYear %>/";
</script>